services:
  proxy:
    build: services/proxy
    pull_policy: build
    restart: always
    depends_on:
      - orion
      - dashboard
    environment:
      - API_KEY=$API_KEY
      - THE_THINGS_NET_WEBHOOK_URL=$THE_THINGS_NET_WEBHOOK_URL

  mongo:
    image: mongo:4.2
    restart: always
    volumes:
      - mongo_data:/data/db
      - mongo_config:/data/configdb

  orion:
    image: fiware/orion:3.3.0
    restart: always
    depends_on:
      - mongo
    entrypoint: ["sh", "-c", "rm /tmp/contextBroker.pid; /usr/bin/contextBroker -fg -multiservice -dbhost mongo -corsOrigin __ALL"]
    environment:
      - LOG_LEVEL=ERROR

  migrate:
    build: services/migrate
    restart: always
    pull_policy: build

  crate:
    image: crate:5.6
    restart: always
    volumes:
      - crate_data:/data
    environment:
      - CRATE_HEAP_SIZE=1g
    command: crate -Cauth.host_based.enabled=false -Cnetwork.host=0.0.0.0

  quantumleap:
    image: fiware/quantum-leap:1.0.0
    restart: always
    depends_on:
      - crate
      - migrate
    environment:
      - CRATE_HOST=crate

  dashboard:
    build: services/dashboard
    pull_policy: build
    restart: always

  collector:
    build:
      context: services/collector
      dockerfile: Dockerfile
    pull_policy: build
    restart: always
    depends_on:
    - orion
    environment:
    - OWM_API_KEY=$OPEN_WEATHER_MAP_API_KEY

  scheduled:
    build: services/scheduled
    pull_policy: build
    restart: always
    depends_on:
    - orion

  dashbot:
    image: ghcr.io/imiq-project/dashbot:latest
    restart: always
    depends_on:
    - orion
    environment:
    - FIWARE_URL=http://orion:1026/v2
    - FIWARE_BASE_URL=$FIWARE_BASE_URL
    - FIWARE_API_KEY=$FIWARE_API_KEY
    - OPENAI_API_KEY=$OPENAI_API_KEY
    - OPENAI_BASE_URL=$OPENAI_BASE_URL
    - NEO4J_URI=$NEO4J_URI
    - NEO4J_USERNAME=$NEO4J_USERNAME
    - NEO4J_PASSWORD=$NEO4J_PASSWORD
    - NEO4J_DATABASE=$NEO4J_DATABASE
    - ORS_API_KEY=$ORS_API_KEY
    - ORS_BASE_URL=$ORS_BASE_URL
    - TOMTOM_API_KEY=$TOMTOM_API_KEY
    - TOMTOM_TIMEOUT=$TOMTOM_TIMEOUT
    - HF_HUB_OFFLINE=$HF_HUB_OFFLINE
    - MODEL=$MODEL
    - KNOWLEDGE_DIR=$KNOWLEDGE_DIR
    - MAX_CONVERSATION_HISTORY=$MAX_CONVERSATION_HISTORY
    - MAX_TOOL_ITERATIONS=$MAX_TOOL_ITERATIONS
    - HTTP_TIMEOUT=$HTTP_TIMEOUT
    - MAGDEBURG_LAT=$MAGDEBURG_LAT
    - MAGDEBURG_LON=$MAGDEBURG_LON
    - ENABLE_AGENTIC_MODE=$ENABLE_AGENTIC_MODE
    - ROUTER_AGENT_MODEL=$ROUTER_AGENT_MODEL
    - NEO4J_AGENT_MODEL=$NEO4J_AGENT_MODEL
    - FIWARE_AGENT_MODEL=$FIWARE_AGENT_MODEL
    - SYNTHESIZER_AGENT_MODEL=$SYNTHESIZER_AGENT_MODEL
    - ROUTER_AGENT_TIMEOUT=$ROUTER_AGENT_TIMEOUT
    - NEO4J_AGENT_TIMEOUT=$NEO4J_AGENT_TIMEOUT
    - FIWARE_AGENT_TIMEOUT=$FIWARE_AGENT_TIMEOUT
    - SYNTHESIZER_AGENT_TIMEOUT=$SYNTHESIZER_AGENT_TIMEOUT
    - ROUTER_AGENT_TEMPERATURE=$ROUTER_AGENT_TEMPERATURE
    - NEO4J_AGENT_TEMPERATURE=$NEO4J_AGENT_TEMPERATURE
    - FIWARE_AGENT_TEMPERATURE=$FIWARE_AGENT_TEMPERATURE
    - SYNTHESIZER_AGENT_TEMPERATURE=$SYNTHESIZER_AGENT_TEMPERATURE
    - ROUTER_AGENT_MAX_TOKENS=$ROUTER_AGENT_MAX_TOKENS
    - NEO4J_AGENT_MAX_TOKENS=$NEO4J_AGENT_MAX_TOKENS
    - FIWARE_AGENT_MAX_TOKENS=$FIWARE_AGENT_MAX_TOKENS
    - SYNTHESIZER_AGENT_MAX_TOKENS=$SYNTHESIZER_AGENT_MAX_TOKENS
    - AGENT_MAX_RETRIES=$AGENT_MAX_RETRIES
    - AGENT_RETRY_DELAY=$AGENT_RETRY_DELAY
    - ROUTER_MIN_CONFIDENCE=$ROUTER_MIN_CONFIDENCE
    - AGENT_VERBOSE_LOGGING=$AGENT_VERBOSE_LOGGING
    - AGENT_LOG_PROMPTS=$AGENT_LOG_PROMPTS
    - AGENT_PARALLEL_EXECUTION=$AGENT_PARALLEL_EXECUTION
    - ELEVENLABS_API_KEY=$ELEVENLABS_API_KEY
    - ELEVENLABS_VOICE_ID=$ELEVENLABS_VOICE_ID

  dayplanner:
    build: services/dayplanner
    restart: always
    pull_policy: build
    environment:
      - APP_SECRET=$DAILYPLAN_APP_SECRET

  sensors:
    build:
      context: services/sensors
      dockerfile: Dockerfile
    pull_policy: build
    restart: always
    depends_on:
    - orion
    environment:
    - WEATHER_STATION_PASSWORD=$WEATHER_STATION_PASSWORD
    - THE_THINGS_NET_WEBHOOK_URL=$THE_THINGS_NET_WEBHOOK_URL

volumes:
  mongo_data:
  mongo_config:
  crate_data:
