services:
  proxy:
    build: services/proxy
    pull_policy: build
    restart: always
    depends_on:
      - orion
      - dashboard
    environment:
      - API_KEY=$API_KEY
      - THE_THINGS_NET_WEBHOOK_URL=$THE_THINGS_NET_WEBHOOK_URL

  mongo:
    image: mongo:4.2
    restart: always
    volumes:
      - mongo_data:/data/db
      - mongo_config:/data/configdb

  orion:
    image: fiware/orion:3.3.0
    restart: always
    depends_on:
      - mongo
    entrypoint: ["sh", "-c", "rm /tmp/contextBroker.pid; /usr/bin/contextBroker -fg -multiservice -dbhost mongo -corsOrigin __ALL"]
    environment:
      - LOG_LEVEL=ERROR

  migrate:
    build: services/migrate
    restart: always
    pull_policy: build

  crate:
    image: crate:5.6
    restart: always
    volumes:
      - crate_data:/data
    environment:
      - CRATE_HEAP_SIZE=1g
    command: crate -Cauth.host_based.enabled=false -Cnetwork.host=0.0.0.0

  quantumleap:
    image: fiware/quantum-leap:1.0.0
    restart: always
    depends_on:
      - crate
      - migrate
    environment:
      - CRATE_HOST=crate

  dashboard:
    build: services/dashboard
    pull_policy: build
    restart: always

  collector:
    build:
      context: services/collector
      dockerfile: Dockerfile
    pull_policy: build
    restart: always
    depends_on:
    - orion
    environment:
    - OWM_API_KEY=$OPEN_WEATHER_MAP_API_KEY

  scheduled:
    build: services/scheduled
    pull_policy: build
    restart: always
    depends_on:
    - orion

  dashbot:
    image: ghcr.io/imiq-project/dashbot:latest
    restart: always
    depends_on:
    - orion
    environment:
    - FIWARE_URL=http://orion:1026/v2

  dayplanner:
    build: services/dayplanner
    restart: always
    pull_policy: build
    environment:
      - APP_SECRET=$DAILYPLAN_APP_SECRET

  sensors:
    build:
      context: services/sensors
      dockerfile: Dockerfile
    pull_policy: build
    restart: always
    depends_on:
    - orion
    environment:
    - WEATHER_STATION_PASSWORD=$WEATHER_STATION_PASSWORD
    - THE_THINGS_NET_WEBHOOK_URL=$THE_THINGS_NET_WEBHOOK_URL

volumes:
  mongo_data:
  mongo_config:
  crate_data:
