http:
  middlewares:
    strip-dayplanner-prefix:
      stripPrefix:
        prefixes:
          - "/api/dayplanner"
    strip-orion-prefix:
      stripPrefix:
        prefixes:
          - "/api/orion"
    add-v2-prefix:
      addPrefix:
        prefix: "/v2"
    check-api-key: 
      plugin:
        traefik-api-key-auth:
          keys:
            - $API_KEY
    strip-dashbot-prefix:
      stripPrefix:
        prefixes:
          - "/api/dashbot"
    strip-sensors-prefix:
      stripPrefix:
        prefixes:
          - "/api/sensors"

  services:
    dayplanner:
      loadBalancer:
        servers:
          - url: http://dayplanner:80
    dashboard:
      loadBalancer:
        servers:
          - url: http://dashboard:1000
    dashbot:
      loadBalancer:
        servers:
          - url: http://dashbot:5000
    orion:
      loadBalancer:
        servers:
          - url: http://orion:1026
    sensors:
      loadBalancer:
        servers:
          - url: http://sensors:80

  routers:
    dashboard:
      rule: PathPrefix("/")
      service: dashboard
    dayplanner:
      rule: PathPrefix("/api/dayplanner")
      service: dayplanner
      middlewares:
        - strip-dayplanner-prefix
    dashbot:
      rule: PathPrefix("/api/dashbot")
      service: dashbot
      middlewares:
        - strip-dashbot-prefix
    orion:
      rule: PathPrefix("/api/orion")
      service: orion
      middlewares:
        - check-api-key
        - strip-orion-prefix
        - add-v2-prefix
    sensors:
      rule: PathPrefix("/api/sensors")
      service: sensors
      middlewares:
        - strip-sensors-prefix
