http:
  middlewares:
    strip-dayplanner-prefix:
      stripPrefix:
        prefixes:
          - "/api/dayplanner"
    strip-orion-prefix:
      stripPrefix:
        prefixes:
          - "/api/orion"
    strip-quantumleap-prefix:
      stripPrefix:
        prefixes:
          - "/api/quantumleap"
    add-v2-prefix:
      addPrefix:
        prefix: "/v2"
    check-api-key: 
      plugin:
        traefik-api-key-auth:
          keys:
            - $API_KEY
    strip-dashbot-prefix:
      stripPrefix:
        prefixes:
          - "/api/dashbot"

  services:
    dayplanner:
      loadBalancer:
        servers:
          - url: http://dayplanner:80
    dashboard:
      loadBalancer:
        servers:
          - url: http://dashboard:1000
    dashbot:
      loadBalancer:
        servers:
          - url: http://dashbot:5000
    orion:
      loadBalancer:
        servers:
          - url: http://orion:1026
    sensors:
      loadBalancer:
        servers:
          - url: http://sensors:80
    quantumleap:
      loadBalancer:
        servers:
          - url: http://quantumleap:8668

  routers:
    dashboard:
      rule: PathPrefix("/")
      service: dashboard
    dayplanner:
      rule: PathPrefix("/api/dayplanner")
      service: dayplanner
      middlewares:
        - strip-dayplanner-prefix
    dashbot:
      rule: PathPrefix("/api/dashbot")
      service: dashbot
      middlewares:
        - strip-dashbot-prefix
    orion-get:
      rule: PathPrefix("/api/orion") && Method("GET")
      service: orion
      middlewares:
        # Do not check api key for get requests
        - strip-orion-prefix
        - add-v2-prefix
    orion:
      rule: PathPrefix("/api/orion")
      service: orion
      middlewares:
        - check-api-key
        - strip-orion-prefix
        - add-v2-prefix
    sensors:
      rule: PathPrefix("/data/upload.php") || PathPrefix("$THE_THINGS_NET_WEBHOOK_URL")
      service: sensors
    quantumleap:
      rule: PathPrefix("/api/quantumleap")
      service: quantumleap
      middlewares:
        - strip-quantumleap-prefix
        - add-v2-prefix
